{%  extends "layout.twig" %}

{% block content %}
    <h1>Envoyer de nouveaux produits</h1>
    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
            <label for="file">Fichier a uploader</label>
            <input type="file" name="file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
{% endblock %}