<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>okiWoki - CDiscount API</title>
</head>
<body>
    <nav class="navbar navbar-inverse nav-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path_for('order.index') }}" class="navbar-brand">okiWoki</a>
            </div>
            <ul class="nav navbar-nav">
               <li>
                   <a href="{{ path_for('upload.index') }}">Upload</a>
               </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="/assets/js/refresh.js"></script>
</body>
</html>