{%  extends "layout.twig" %}

{% block content %}
    <h1>Liste des commandes en cours</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ path_for('order.show', {'id': order.OrderNumber}) }}">{{ order.OrderNumber }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    {{ dump(orders) }}

{% endblock %}